body {
    width: 100%;
    text-align: center;
}

img {
    border: 0;
}

#main {
    margin: 15px auto;
    background: white;
    overflow: auto;
    width: 100%;
}

#header {
    background: white;
    margin-bottom: 15px;
}

#mainbody {
    background: white;
    width: 100%;
}

#memberInfo {
    display: none;
}

#footer {
    background: white;
}

#mp1 {
    text-align: center;
    font-size: 35px;
}

.selector {
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-bottom: -5px;
}

#btn {
    display: block;
}

#outdiv {
    border: solid;
    border-width: 3px 3px 3px 3px;
    display: none;
}

ul {
    margin-bottom: 0;
    margin-right: 40px;
}

li {
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    border-right: 1px solid #333333;
}

li a {
    text-decoration: none;
    color: black;
}

.tsel {
    padding: 0;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
    font-family: 'Lato', 'sans-serif';
}

.profile {
    min-height: 355px;
    display: inline-block;
}

figcaption.ratings {
    margin-top: 20px;
}

figcaption.ratings a {
    color: #f1c40f;
    font-size: 11px;
}

figcaption.ratings a:hover {
    color: #f39c12;
    text-decoration: none;
}

.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.emphasis {
    border-top: 4px solid transparent;
}

.emphasis:hover {
    border-top: 4px solid #1abc9c;
}

.emphasis h2 {
    margin-bottom: 0;
}

span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

.dropdown-menu {
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}

.dropdown-menu .divider {
    background: none;
}

.dropdown-menu>li>a {
    color: #f5f5f5;
}

.dropup .dropdown-menu {
    margin-bottom: 10px;
}

.dropup .dropdown-menu:before {
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}